body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    border: 1px solid red;
    display: flex;
}

.card {
    margin: 0.5rem;
    border: 1px solid blue;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12rem;
} 