@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/background.svg");
}

.bg-card {
    background-image: url("./assets/card-background.svg");
    background-size: cover;
}

.card-pulse:hover{
    animation: pulse 1.5s infinite alternate;
  }
  
   @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1.10);
      opacity: 1;
    }
   }